body{
  background-color: #1b1b1b;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;

    p{
      color: #fffff3
    }

    a{
      color: #fef9f4;;
      font-weight: 400;
    }
    
}

// All our styling for the top page // 

header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url(images/mainphoto.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box{
  position: absolute;
  width: auto;
  top: 75%;
  left: 4%;
  color: #fef9f4;

     h1{
      font-size: 75px;
      font-weight: 600;
      font-family: 'Lato Bold', sans-serif;
      word-spacing: 3px;

         span{
            font-weight: 100;
            font-family: 'Lato Thin', sans-serif;
            font-style: italic;
            letter-spacing: 1px;
            
          }
        }
}

// Navigation Bar// 

li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  margin-top: 25px;

  a{
    color: #fef9f4;
    font-family: 'Lato Thin', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
  }
  
}

#map {
  height: 760px;
  width: 100%;
}

