body {
  background-color: #1b1b1b;
  font-family: 'Lato', sans-serif; }
  body p {
    color: #fffff3; }
  body a {
    color: #fffff3;
    font-weight: 400; }

header {
  background: #5c4d8e;
  color: #fffff3;
  position: relative;
  text-align: center;
  height: 80px; }
  header ul {
    list-style: none; }
  header li {
    display: inline-block; }
    header li a {
      font-size: 18px;
      text-decoration: none !important;
      display: block;
      padding: 30px 20px; }
    header li a:hover {
      color: #fffff3; }

#landingphoto {
  width: 100%; }

#titlePhoto {
  color: white; }
  #titlePhoto h1 {
    font-size: 65px;
    font-weight: 600; }
    #titlePhoto h1 span {
      font-weight: 100; }

#map {
  height: 600px;
  width: 50%; }
