body {
  background-color: #1b1b1b;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility; }
  body p {
    color: #fffff3; }
  body a {
    color: #fef9f4;
    font-weight: 400; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url(images/mainphoto.png);
  background-size: cover;
  background-position: center;
  height: 100vh; }

.hero-text-box {
  position: absolute;
  width: auto;
  top: 75%;
  left: 4%;
  color: #fef9f4; }
  .hero-text-box h1 {
    font-size: 75px;
    font-weight: 600;
    font-family: 'Lato Bold', sans-serif;
    word-spacing: 3px; }
    .hero-text-box h1 span {
      font-weight: 100;
      font-family: 'Lato Thin', sans-serif;
      font-style: italic;
      letter-spacing: 1px; }

li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  margin-top: 25px; }
  li a {
    color: #fef9f4;
    font-family: 'Lato Thin', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px; }

#map {
  height: 760px;
  width: 100%; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  transition: margin-left .5s;
  padding: 20px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

#data-list {
  font-size: 24px;
  color: white;
    }